[ng-slider], .ng-slider {

    display: block;
    position: relative;
    line-height: 1;
    height: $slideHeight;
    user-select: none;
    * {
        user-select: none;
    }
    .ng-slider-min-label,
    .ng-slider-max-label,
    .ng-slider-label {
        display: inline-block;
        position: absolute;
        top: 0px;
        cursor: default;
        color: #1a1a1a;
        white-space: nowrap;
        &:hover {

        }
    }

    [class^="ng-slider-handle"] {
        display: inline-block;
        height: $handleSize;
        width: $handleSize;
        background: $selectionColor;
        z-index: 1;
        position: absolute;
        cursor: pointer;
        top: $slideHeight / 2;
        margin-top: ($handleSize/2) * -1;
        transition: box-shadow 120ms ease-in-out;
        @extend %circleShape;
        &:hover {
            background: $selectionColor;
        }
        &:active, &.active {
            background: $selectionColor;
            box-shadow: 0 0 0 10px rgba($selectionColor, .25);
        }
        &:before, &:after {
            content: '';
            display: table;
        }
    }

    .ng-slider-fullbar {
        display: block;
        height: $barHeight;
        width: 100%;
        box-sizing: border-box;
        background: #eeeeee;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .ng-slider-selection {
        background: $selectionColor;
        pointer-events: none;
        display: block;
        height: $barHeight;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}