$handleSize: 16px;
$rangerInputHeight: $handleSize + 46px;
$barHeight: 2px;
$handleTopOffset: (($handleSize + $barHeight) / 2) * -1;
$selectionColor: #6495ED;
%circleShape {
    border-radius: 999px;
}

%noUserSelect {
    // Preventing touchedevices to start text selection or context menu
    user-select: none;
}

[ng-ranger], .ng-ranger {

    display: block;
    position: relative;
    line-height: 1;
    height: $rangerInputHeight;
    @extend %noUserSelect;
    * {
        @extend %noUserSelect;
    }
    .ng-ranger-min-label,
    .ng-ranger-max-label,
    .ng-ranger-label-low,
    .ng-ranger-label-high,
    .ng-ranger-label-cmb {
        display: inline-block;
        position: absolute;
        top: 0px;
        cursor: default;
        color: #1a1a1a;
        white-space: nowrap;
        &:hover {

        }
    }
    [class^="ng-ranger-handle"] {
        display: inline-block;
        height: $handleSize;
        width: $handleSize;
        background: $selectionColor;
        z-index: 1;
        position: absolute;
        cursor: pointer;
        top: $rangerInputHeight / 2;
        margin-top: ($handleSize/2) * -1;
        transition: box-shadow 120ms ease-in-out;
        @extend %circleShape;
        &:hover {
            background: $selectionColor;
        }
        &:active, &.active {
            background: $selectionColor;
            box-shadow: 0 0 0 10px rgba($selectionColor, .25);
        }
        &:before, &:after {
            content: '';
            display: table;
        }
    }
    .ng-ranger-fullbar {
        display: block;
        height: $barHeight;
        width: 100%;
        box-sizing: border-box;
        background: #eeeeee;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .ng-ranger-selection {
        background: $selectionColor;
        pointer-events: none;
        display: block;
        height: $barHeight;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}