$handleSize: 16px;
$slideHeight: $handleSize + 45px;
$barHeight: 2px;
$handleTopOffset: (($handleSize + $barHeight) / 2) * -1;
$selectionColor: #6495ED;
%circleShape {
    border-radius: 999px;
}

@import "slider", "ranger";