[ng-slider] .ng-slider-handle, .ng-slider .ng-slider-handle {
  border-radius: 999px;
}

[ng-slider], .ng-slider {
  display: block;
  position: relative;
  line-height: 1;
  height: 61px;
}

[ng-slider] .ng-slider-min-label,
[ng-slider] .ng-slider-max-label,
[ng-slider] .ng-slider-label, .ng-slider .ng-slider-min-label,
.ng-slider .ng-slider-max-label,
.ng-slider .ng-slider-label {
  display: inline-block;
  position: absolute;
  top: 0px;
  color: #1a1a1a;
  white-space: nowrap;
}

[ng-slider] .ng-slider-handle, .ng-slider .ng-slider-handle {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: #6495ED;
  z-index: 1;
  position: absolute;
  top: 30.5px;
  margin-top: -8px;
}

[ng-slider] .ng-slider-handle:hover, .ng-slider .ng-slider-handle:hover {
  background: #6495ED;
}

[ng-slider] .ng-slider-handle:active, [ng-slider] .ng-slider-handle.active, .ng-slider .ng-slider-handle:active, .ng-slider .ng-slider-handle.active {
  background: #6495ED;
}

[ng-slider] .ng-slider-handle:before, [ng-slider] .ng-slider-handle:after, .ng-slider .ng-slider-handle:before, .ng-slider .ng-slider-handle:after {
  content: '';
  display: table;
}

[ng-slider] .ng-slider-fullbar, .ng-slider .ng-slider-fullbar {
  display: block;
  height: 2px;
  width: 100%;
  box-sizing: border-box;
  background: #eeeeee;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

[ng-slider] .ng-slider-selection, .ng-slider .ng-slider-selection {
  background: #6495ED;
  pointer-events: none;
  display: block;
  height: 2px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
